@import '../../variables';

$sectionPadding: 5em 0em 5em;
$maxWidth: 1080px;


.coffee-details-wrapper{
  background-color: $secondaryColor;
}

.coffee-details-section {
  max-width: $maxWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $sectionPadding;
  background-color: $secondaryColor;
}

.coffee-details-img {
  // width: 20em;
  height: 30em;
  margin: 0;
  margin-right: 5rem;
  border: 0px solid white;
  border-radius: 1rem;
}


.coffee-details-name {
  font-family: $primaryFontFamily;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.coffee-details-brand {
  margin: 0;
  font-size: 1.5rem;
  color: $secondaryFontColor;
  font-weight: 100;
}

.coffee-details-region {
  display: flex;
  align-items: center;
  
  h3 {
    font-weight: 300;
    font-size: 1.1rem;
  }

}

.coffee-details-rating {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-right: 0.25rem;
  }
  
  div {
    display: flex;
    flex-direction: column;

    img {
      margin: 0;
    }

    p {
      margin: 0;
      padding: 0;
    }


  }

}

.coffee-details-description {
  color: $secondaryFontColor;
  font-size: 1.1rem;
}

.coffee-like-icon {
  color: rgb(238,44,77);
}

.coffee-characteristic-section{
  margin: 0 auto;
  max-width: $maxWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 5em 5em 0em;

  p {
    margin: 0;
  }

  .characteristic {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .icon {
    color: $primaryColor;
    font-size: 2rem;
    margin: 1rem 0;
  }

}

.coffee-review-wrapper {
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.coffee-review-heading {
  max-width: $maxWidth;
  padding-top: 3em;
  font-family: $primaryFontFamily;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

.coffee-review-section {
  max-width: $maxWidth;
  padding-top: 0;
  display: flex;
  justify-content: space-between;

}

.coffee-review-list {
  flex: 2;

  .no-reviews {
    font-size: 2em;
    color: $primaryFontColor
  }
}

.coffee-review-stars {
  display: flex;
  justify-content: center;
}

.coffee-review-user-info {
  display: flex;
}

.coffee-review-date {
  color: $secondaryFontColor;
}

.coffee-review-rating {
  background-color: $primaryColor;
}

.coffee-cafe-section{
  max-width: $maxWidth;
  margin: 0 auto;
  padding: $sectionPadding
  
  h1{
    padding: 0;
  }
}