
.MainLayoutRoot {
    backgroundColor: theme;
    display: 'flex';
    height: '100%';
    overflow: 'hidden';
    width: '100%';
};

.MainLayoutWrapper {
  display: 'flex';
  flex: '1 1 auto';
  overflow: 'hidden';
  paddingTop: 64;
};

.MainLayoutContainer {
  display: 'flex';
  flex: '1 1 auto';
  overflow: 'hidden';
};

.MainLayoutContent {
  flex: '1 1 auto';
  height: '100%';
  overflow: 'auto';
};