@import './index.scss';

$primaryFontFamily: 'Playfair Display';
$secondaryFontFamily: 'Roboto';

$primaryFontColor: rgba(0,0,0,0.87);
$secondaryFontColor: rgba(61,58,58,0.54);

$primaryColor: #DEBB63;
$secondaryColor: #252B2C;
